.c-chat_window-sender {
  width: 100%;
  height: 60px;
  position: absolute;
  z-index: 10;
  bottom: 0;
  background: var(--global-bg-primary_lighter);
  color: var(--global-font-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-form {
    width: 100%;

    &-input {
      width: 100%;
      flex: 1 0 auto;
      box-sizing: border-box;
      height: 60px;
      background: var(--global-bg-primary_lighter);
      font-size: 18px;
      color: var(--global-font-primary);
    }
  }

  &-dropdown {
    background: var(--global-bg-primary);
    position: absolute;
    bottom: 70px;
    left: 10px;
    width: 140px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-item {
      height: 30px;
      line-height: 30px;
      cursor: pointer;
      padding: 0 10px;

      &-uploader {
        width: 100%;
        height: 30px;
        position: absolute;
        opacity: 0;
        filter: Alpha(opacity=0);
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
      }
    }

    &-item:hover {
      background: var(--global-bg-primary_lighter);
    }
  }

  &-toggle {
    width: 55%;
    left: 20%;
    top: 6%;
    height: 60%;
    position: absolute;
    background: var(--global-bg-primary_lighter);
    border-radius: 10px;
    padding: 2.5%;
    z-index: 10001;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--global-font-primary);

    &-title {
      position: absolute;
      top: 10px;
      left: 20px;
      font-size: 20px;
    }

    &-img {
      max-width: 90%;
      max-height: 80%;
    }

    &-send {
      position: absolute;
      width: 60px;
      height: 36px;
      background-color: #3390ec;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      position: absolute;
      cursor: pointer;
      bottom: 10px;
      right: 10px;
    }

    &-time {
      position: absolute;
      top: 50px;
    }

    &-start {
      width: 100px;
      height: 36px;
      background-color: #3390ec;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      cursor: pointer;
      margin-top: 120px;
    }

    &-stop {
      width: 100px;
      height: 36px;
      background-color: rgb(254, 67, 101);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      cursor: pointer;
      margin-top: 120px;
    }

    &-file {
      display: flex;

      &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}

.c-chat_window-mask {
  position: fixed;
  width: 200vw;
  height: 200vh;
  left: -100vw;
  top: -100vh;
  background-color: rgba($color: #000000, $alpha: 0.3);
  z-index: 10000;
}
